<div>
    <div class="grid-container">
        <div class="grid-item">
            {{#each Item}}
            <h1><u>{{this.name}}</u></h1><br>
            <img class="item-img" src="{{image}}" /><br>
                    <ul>
                    <li>Price: ${{price}}</li>
                    <li>Description: {{description}}</li>
                    <li>Category: {{category}}</li>
                    {{/each}}
                    </ul>
            {{!-- <a href="/warehouses"><button class="button">❮ Warehouses</button></a> --}}
            <script>
  document.write('<a href="' + document.referrer + '"><button class="button">❮ Back</button></a>');
</script>
        </div>
</div>