<div>
    <div class="grid-container">
        <div class="grid-item">
            <h1><u>{{warehouse.name}}</u></h1>
            <img class="item-img" src="{{warehouse.image}}"/><br>
            <h4><u>Aisles:</u></h4> {{#each warehouse.Aisles}}
                <h4>{{this.name}}</h4>
                    <ul>{{#each this.Items}}
                    <li><a href="/items/{{id}}">{{this.name}}</a></li>
                    {{/each}}
                    </ul>
                    {{/each}}
            <a href="/warehouses"><button class="button">❮ Warehouses</button></a>
            <a class="btn" href="/new-item-form"><button class="button">Add item +</button></a>
        </div>
</div>